{{ ansible_managed | comment }}


global:
  scrape_interval:     15s 
  evaluation_interval: 15s 
  external_labels:
     monitor: 'gri-monitor'

scrape_configs:

  - job_name: 'gri-host'
    static_configs:
     - targets: ['192.168.88.100:9100']
       labels:
         group: 'nodes'

  - job_name: 'gri-nexus'
    static_configs:
     - targets: ['localhost:9184']
       labels:
         group: 'registry'

rule_files:
  - /etc/prometheus/rules/*.rules
